.row {
	display:block;
	white-space:nowrap;
	margin: 3px 0;
	font-size: 12px;
	padding-right: 6px;
}
.row > * {
	display:inline-block;
	white-space:normal;
	word-wrap: break-word;
	vertical-align:top;
}
pre {
	margin:0;
	padding:0;
	white-space: pre-wrap !important;
}

.key {
	color: hsl(0,0%,65%);
	margin: 0 4px;
	min-width:140px;
	text-align:right;
}
.array > .row > .key {
	min-width: 20px;
	text-align: center;
}
ul {
	padding:0 0 0 0;
	min-height: 20px;
	min-width: 20px;
	border-radius: 4px;
}
ul:empty {
	box-shadow: inset 0px 0px 3px hsla(0,0%,0%,0.4);
	background: hsl(0,0%,70%) !important;
}
ul.odd {
	background: hsl(30,50%,80%);
	border: solid 1px hsl(0,0%,50%);
	border-bottom: solid 2px hsl(0,0%,50%);
}
ul.odd > .row > .key {
	color: hsl(30,50%,45%);
}
ul.even {
	background: hsl(0,0%,90%);
	border: solid 1px hsl(0,0%,50%);
	border-bottom: solid 2px hsl(0,0%,50%);
}

