body {
	background: hsl(30,10%,30%);
}
es.Literal {
	background:hsl(0,0%,20%);
	color:white;
	border-radius:3px;
}
es.Literal > pre {
	display:inline-block;
	padding: 0 4px;
}
es.FunctionDeclaration,
es.FunctionExpression
{
	display:inline-block;
	vertical-align:top;
	white-space: nowrap;
	background: hsl(25,30%,80%);
	padding: 4px;
	padding-right: 8px;
	border-radius: 8px;
	margin: 10px 4px;
	border: solid 3px hsl(25,30%,70%);
}
es.FunctionDeclaration > es:not(.body),
es.FunctionExpression > es:not(.body)
{
	display:inline-block;
	vertical-align:top;
	white-space: normal;
	color: hsl(25,30%,50%);
}
es.FunctionDeclaration > es.id:before,
es.FunctionExpression > es.id:before
{
	content: 'λ ';
	font-size: 14px;
	line-height:16px;
	vertical-align:top;
}

es.FunctionDeclaration > es.body > es.BlockStatement,
es.FunctionExpression > es.body > es.BlockStatement
{
	margin-top: 20px;
	color: hsl(0,0%,30%);
}

es.params
{
	margin-left: 4px;
}
es.params:before
{
	content: '(';
}
es.params:after
{
	content: ')';
}
es.params > es:before {
	content: ',';
	display:inline-block;
	margin-right: 20px;
}
es.params > es:first-child:before {
	content: '';
	margin-right: 0px;
}

es.body, es.BlockStatement {
	display:block;
}
es.BlockStatement > es.body
{
	display:block;
	margin-left: 4px;
}

es.ArrayExpression:before {
	content: '[';
}
es.ArrayExpression:after {
	content: ']';
}


es.ExpressionStatement {
	display:block;
}

es.CallExpression,
es.NewExpression {
	display:inline-block;
	vertical-align:top;
	margin:3px 2px;
	background:hsl(180,50%,50%);
	border: solid 1px hsl(180,50%,40%);
	padding: 8px 6px;
	border-radius:4px;
	box-shadow: 0 1px 1px 1px hsla(0,0%,0%,0.2);
}
es.NewExpression {
	background:hsl(150,50%,48%);
	border-radius: 20px;
	box-shadow: 0 1px 2px hsla(0,0%,0%,0.3);
}
es.NewExpression > es.callee:before{
	content: 'new';
	color: white;
	display:inline-block;
	vertical-align:top;
	margin-right: 8px;
}
es.NewExpression > es,
es.CallExpression > es
{
	display:block;
	padding: 8px;
	margin: 0 2px 0 0; 
}

es.callee {
	font-weight:bold;
	color: white;
}
es.arguments { 
	background:hsl(180,40%,90%);
	border-radius: 8px;
	box-shadow: inset 0px 1px 1px 1px hsla(0,0%,0%,0.4);
}
es.arguments:empty { 
	display:none;
}
es.arguments > es {
	display:inline-block;
	vertical-align:top;
}
es.arguments > es:before {
	content: ',';
	display:inline-block;
	margin-right: 20px;
}
es.arguments > es:first-child:before {
	content: '';
	margin-right: 0px;
}
es.AssignmentExpression {
	border: solid 1px hsl(50,90%,60%);
	box-shadow: 0 1px 3px hsla(0,0%,0%,0.4);
	margin: 0 4px 0 4px;
	padding: 0 2px 1px 2px;
	display:inline-block;
	vertical-align:top;
	border-radius: 4px;
	background: hsl(50,90%,90%);
	padding-bottom: 4px;
}
es.AssignmentExpression > es {
	display:inline-block;
	vertical-align:top;
}
es.AssignmentExpression > .left {
	text-align:right;
	margin-top: 4px;
}
es.AssignmentExpression > .right {
	margin-top: 4px;
}
es.AssignmentExpression > .right:before {
	color: hsl(0,0%,50%);
}

es.CallExpression > es.callee > es.MemberExpression > .object {
	color: hsl(50,80%,80%);
}

es.MemberExpression:not(.is-computed) > .object:after {
	content: '.';
}
es.MemberExpression.is-computed > .property:before {
	content: '[';
}
es.MemberExpression.is-computed > .property:after {
	content: ']';
}

es.ObjectExpression {
	display:inline-block;
	vertical-align:top;
	background: hsl(50,30%,80%);
	border: solid 1px hsl(50,30%,60%);
	border-radius: 4px;
	padding: 2px 6px;
	min-height: 10px;
	min-width: 10px;
	box-shadow: inset 1px 1px 3px 1px hsla(0,0%,0%,0.2);
}

es.ObjectExpression > .properties,
es.ObjectExpression > .properties > es,
es.ObjectExpression > .properties > es > .Property
{
	display:block;
}
es.ObjectExpression > .properties > es > .Property {
	margin: 4px 0;
	white-space: nowrap;
}
es.ObjectExpression > .properties > es > .Property > es {
	display: inline-block;
	vertical-align: top;
	white-space: normal;
	/*padding: 4px;*/
}
es.ObjectExpression > .properties > es > .Property > .key {
	min-width: 140px;
	text-align: right;
	color: hsl(50,30%,40%);
	padding: 4px 0;
}
es.ObjectExpression > .properties > es > .Property > .key > .Identifier:after {
	content: ':';
}
es.ObjectExpression > .properties > es > .Property > .value > :not(.FunctionExpression) {
	display:block;
	padding: 4px;
}


es.VariableDeclaration {
	display:inline-block;
	border: solid 1px hsl(30,40%,40%);
	background: hsl(30,20%,70%);
	box-shadow: inset 0 1px 3px hsla(0,0%,0%,0.4);
	margin: 4px 0;
	padding: 4px 10px;
	border-radius: 20px 4px;
}
es.declarations,
es.declarations > es
{
	display: block;
	margin: 4px 0;
}

es.VariableDeclarator {
	display: block;
	white-space: nowrap;
}
es.VariableDeclarator > es {
	display: inline-block;
	white-space:normal;
	vertical-align:top;
}
es.VariableDeclarator > es.id {
	min-width: 140px;
	text-align:right;
}
es.VariableDeclarator > es.init:before {
	content: '=';
	margin: 0 6px;
	color: hsl(0,0%,50%);
}
es.VariableDeclarator > es.init:empty:after {
	content: 'undefined';
	color: hsl(0,0%,50%);
}



es.IfStatement {
	display:block;
	background: hsl(200,20%,70%);
	border: solid 1px hsl(200,40%,50%);
	box-shadow: 0 2px 1px hsla(0,0%,0%,0.2);
	margin: 4px 0;
	border-radius: 2px;
}
es.IfStatement > es,
es.ConditionalExpression > es
{
	display: block;
	vertical-align:middle;
	white-space: nowrap;
	padding: 4px 4px;
}
es.IfStatement > es:before,
es.ConditionalExpression > es:before
{
	display:inline-block;
	vertical-align:middle;
	width: 80px;
	text-align:center;
}
es.IfStatement > es > es,
es.ConditonalExpression > es > es
{
	display: inline-block;
	white-space: normal;
	vertical-align:top;
}
es.test:before { content: 'If' }
es.consequent:before { content: 'then' }
es.alternate:before { content: 'else' }
es.alternate:empty {
	display:none;
}





es.SwitchStatement {
	display:block;
	background: hsl(200,20%,90%);
	border: solid 1px hsl(200,40%,50%);
	box-shadow: 0 2px 1px hsla(0,0%,0%,0.2);
	margin: 4px 0;
	border-radius: 2px;
}
es.SwitchStatement > es
{
	display: block;
	vertical-align:middle;
	white-space: nowrap;
}
es.SwitchStatement > es.discriminant {
	padding: 4px 0;
}
es.SwitchStatement > es:before
{
	display:inline-block;
	vertical-align:middle;
}
es.SwitchStatement > es.discriminant > es
{
	display: inline-block;
	white-space: normal;
	vertical-align:middle;
}
es.cases,
es.cases > es
{
	display:block;
}
es.cases { background: hsl(200,20%,85%) }
es.SwitchStatement > es.discriminant:before {
	content: 'If';
	width: 80px;
	text-align:center;
	display:inline-block;
	vertical-align:middle;
}
es.SwitchCase {
	display:block;
	padding: 8px 0;
	border-top: solid 2px hsl(0,0%,70%);
}
es.SwitchCase:before {
	content: 'is';
	display:inline-block;
	vertical-align:top;
	width: 80px;
	text-align:center;
}
es.SwitchCase > es.test:before {
	display:none;
}
es.SwitchCase > es.consequent {
	display:block;
	background: transparent;
	margin-top: 10px;
	padding: 8px 20px;
}
es.SwitchCase > es.consequent:before {
	display:none;
}

es.BreakStatement {
	display:inline-block;
	vertical-align:middle;
}
es.BreakStatement > es {
	display:inline-block;
	vertical-align:middle;
}
es.BreakStatement:before {
	display:inline-block;
	vertical-align:middle;
	background: hsl(0,50%,70%);
	color: white;
	content: 'break';
	margin: 4px 2px;
	padding: 4px;
	border-radius: 6px;
	border: solid 1px hsl(0,50%,50%);
}

es.ReturnStatement {
	display:block;
}
es.ReturnStatement > es.argument:before {
	content: 'return';
	margin-right: 10px;
	color: white;
}
es.ReturnStatement > es.argument {
	display:inline-block;
	vertical-align:top;
	background: hsl(220,50%,70%);
	content: 'return';
	margin: 4px 2px;
	padding: 4px;
	border-radius: 6px;
	border: solid 1px hsl(220,50%,50%);
}
es.ReturnStatement > es.argument > es:not(.Literal):not(.Identifier):not(.MemberExpression) {
	display:block;
	padding: 8px;
}

es.ContinueStatement {
	display:inline-block;
	vertical-align:middle;
}
es.ContinueStatement > es {
	display:inline-block;
	vertical-align:middle;
}
es.ContinueStatement:before {
	display:inline-block;
	vertical-align:middle;
	background: hsl(240,50%,70%);
	color: white;
	content: 'continue';
	margin: 4px 2px;
	padding: 4px;
	border-radius: 6px;
	border: solid 1px hsl(240,50%,50%);
}





es.ForStatement {
	display:block;
	background: hsl(200,10%,90%);
	border: solid 2px hsl(200,40%,50%);
	border-radius: 6px;
	box-shadow: 0 2px 1px hsla(0,0%,0%,0.2);
	margin: 10px 0 20px 0;
	padding: 4px 0;
}
es.ForStatement > es.body {
	margin-top: 10px;
	padding: 10px 10px 6px 10px;
	border-top: dashed 1px hsla(0,0%,0%,0.4);
}
es.ForStatement > es:not(.body)
{
	display: block;
	vertical-align:middle;
	white-space: nowrap;
	padding: 4px 0;
}
es.ForStatement > es:not(.body):before
{
	display:inline-block;
	vertical-align:middle;
	text-align:center;
	width: 80px;
}
es.ForStatement > es > es
{
	display: inline-block;
	white-space: normal;
	vertical-align:middle;
}
es.ForStatement > es.init:before { content: 'From' }
es.ForStatement > es.test:before { content: 'while' }
es.ForStatement > es.update:before { content: 'next' }
es.ForStatement > es.body:before { content: '' }





es.DoWhileStatement {
	display:block;
	background:hsl(0,0%,95%);
	border: solid 2px hsl(220,40%,60%);
	border-radius: 6px;
	box-shadow: 0 2px 1px hsla(0,0%,0%,0.2);
	margin: 10px 0 20px 0;
	padding: 4px 0 0 0;
}
es.DoWhileStatement > es.test {
	margin-top: 10px;
	padding: 10px 10px 6px 10px;
	border-top: dashed 1px hsla(0,0%,0%,0.4);
	border-radius: 0 0 6px 6px;
}
es.DoWhileStatement > es.test
{
	display: block;
	vertical-align:middle;
	white-space: nowrap;
	padding: 4px 0;
	background:hsl(200,30%,90%);
}
es.DoWhileStatement > es.test:before
{
	display:inline-block;
	vertical-align:middle;
	text-align:center;
	width: 80px;
}
es.DoWhileStatement > es > es
{
	display: inline-block;
	white-space: normal;
	vertical-align:middle;
	padding-right: 12px;
}
es.DoWhileStatement > es.test:before { content: 'While' }
es.DoWhileStatement > es.body:before { content: '' }
es.DoWhileStatement > es.body {
	padding: 10px 10px 6px 10px;
}






es.WhileStatement {
	display:block;
	background: hsl(200,10%,90%);
	border: solid 2px hsl(200,40%,50%);
	border-radius: 6px;
	box-shadow: 0 2px 1px hsla(0,0%,0%,0.2);
	margin: 10px 0 20px 0;
	padding: 4px 0;
}
es.WhileStatement > es.body {
	margin-top: 10px;
	padding: 10px 10px 6px 10px;
	border-top: dashed 1px hsla(0,0%,0%,0.4);
}
es.WhileStatement > es:not(.body)
{
	display: block;
	vertical-align:middle;
	white-space: nowrap;
	padding: 4px 0;
}
es.WhileStatement > es:not(.body):before
{
	display:inline-block;
	vertical-align:middle;
	text-align:center;
	width: 80px;
}
es.WhileStatement > es > es
{
	display: inline-block;
	white-space: normal;
	vertical-align:middle;
	padding-right: 12px;
}
es.WhileStatement > es.test:before { content: 'While' }
es.WhileStatement > es.body:before { content: '' }


es.op {
	display:inline-block;
	vertical-align:top;
}
es.op > es > es {
	display:inline-block;
	vertical-align:top;
}
es.AssignmentExpression.op > es.right:before {
	background: transparent;
	color: hsl(40,50%,40%);
}
es.op > es.right:before {
	display:inline-block;
	vertical-align:top;
	background: hsl(0,0%,40%);
	color:white;
	padding: 2px 4px;
	margin:0 6px;
	margin-top: 0;
	border-radius: 800px;
	min-width: 14px;
	min-height: 14px;
	line-height: 14px;
	text-align:center;
}

es.UpdateExpression {
	background: hsl(200,40%,60%);
	border: solid 1px hsl(200,40%,50%);
	color:white;
	padding: 2px 4px;
	margin:1px 6px;
	border-radius: 3px;
	display:inline-block;
	vertical-align:top;
}
es.op > es.argument:before {
	display:inline-block;
	vertical-align:top;
}
es.UnaryExpression {
	background: hsl(0,80%,90%);
	display:inline-block;
	padding: 2px;
	border-radius: 4px;
}
es.BinaryExpression,
es.LogicalExpression
{
	display:inline-block;
	box-shadow: inset 0px 0px 3px 1px hsla(0,0%,0%,0.3);
	padding: 8px 6px;
	margin: 2px 4px;
	border-radius: 4px;
	border: solid 2px transparent;
}
es.BinaryExpression:hover,
es.LogicalExpression:hover {
	background: hsla(50,80%,90%,0.35);
	border: solid 2px hsl(50,80%,80%);
}

es.UnaryExpression > es.argument:before {
	color:hsl(0,20%,50%);
	display:block;
	margin-right: 8px;
	font-weight:bold;
}
es.op > es.argument:after {
	display:inline-block;
	vertical-align:top;
}

es.ThisExpression {
	display:inline-block;
	background:orange;
	color:white;
	padding: 0 2px;
	border-radius: 4px;
	box-shadow: 0 0 1px 1px hsl(30,80%,40%);
}
es.ThisExpression:before {
	content: 'this';
}


es.ConditionalExpression {
	display:inline-block;
	vertical-align:top;
	background: hsl(220,20%,80%);
	border: solid 1px hsl(220,40%,50%);
	box-shadow: 0 2px 1px hsla(0,0%,0%,0.2);
	margin: 4px 0;
	border-radius: 8px;
}

es.toggle {
	border-radius: 4px;
	border: dashed 2px transparent;
}
es.toggle:not(.closed) {
	padding: 20px;
}
es.toggle:hover {
	background: hsla(0,0%,0%,0.05);
	border: dashed 2px hsla(0,0%,0%,0.6);
}
es.toggle.closed {
	margin:4px 0 !important;
	padding: 0 !important;
	box-shadow: 0 1px 1px hsla(0,0%,0%,0.3);
	border: solid 1px hsl(0,0%,70%);
	overflow:hidden;
	display:inline-block !important;
	width: 22px;
	height: 18px;
	position:relative;
}
es.toggle.closed > * {
	display:none !important;
}
es.toggle.closed:before {
	color: hsl(0,0%,60%);
	content:'<>';
	text-align:center;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background: hsl(0,0%,90%);
}
es.toggle.closed:hover:before {
	background: white;
}
