es.FunctionExpression > es.BlockStatement {
	display:none;
}
es.FunctionExpression.expanded > es.BlockStatement {
	display:inline-block;
}
.ForStatement {
	border: solid 1px black;
}
.ForStatement > .init,
.ForStatement > .test,
.ForStatement > .update {
	border: solid 1px hsla(0,0%,0%,0.4);
}
.ForStatement > .BlockStatement.body {
	display:block;
}

es.FunctionExpression {
	position: relative;
	overflow:hidden;
	background: hsl(50,10%,80%);
}
es.FunctionExpression > * {
	position:relative;
}
es.FunctionExpression:before {
	content:'';
	position:absolute;
	top:0;
	left:0;
	right:0;
	height:300px;
	border-radius:4px 4px 0 0;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.00, rgba(235,249,250,0.8)),
		color-stop(0.06, rgba(235,249,250,0.3)),
		color-stop(0.18, rgba(185,188,188,0.2)),
		color-stop(1, rgba(185,188,188,0.0))
	);
}
es.BlockStatement {
	padding: 8px 12px !important;
}
es.LogicalExpression es.BinaryExpression > * {
	display: inline-block;
	margin: 0 8px;
}
es.LogicalExpression es.BinaryExpression {
	border: solid 2px black;
}
es.LogicalExpression > * {
	display: inline-block;
	margin: 4px;
}


es.declared[data-count="1"] {
	opacity: 0.35;
}
es.declared code {
}
es.reference,
es.declared {
	margin: 0 2px;
	border-radius: 2px;
	padding: 0 2px;
	display: inline-block;
	vertical-align: top;
	min-width: 12px;
	text-align: center;
}

es.highlighted-identifier {
	box-shadow: 0 1px 2px hsla(0,0%,0%,0.4);
}
es.local-variable {
	color: hsl(100,70%,30%);
	text-shadow: 0 1px 1px hsla(0,0%,50%,0.5);
}
es.local-variable.highlighted-identifier {
	color: white;
	background: hsl(100,70%,30%);
}
es.shared-variable {
	color: hsl(200,70%,40%);
	text-shadow: 0 1px 1px hsla(0,0%,50%,0.5);
}
es.shared-variable.highlighted-identifier {
	color: white;
	background: hsl(200,70%,40%);
}
es.global-variable {
	color: yellow;
	text-shadow: 0 1px 1px hsla(0,0%,50%,0.5);
	margin: 0 1px;
}
es.global-variable.highlighted-identifier {
	color: black;
	background: yellow;
}
es.global-variable.js-builtin {
	color: black;
}
es.global-variable.js-builtin.highlighted-identifier {
	color: white;
	background: black;
}
es.global-variable.browser-builtin {
	color: purple;
}
es.global-variable.browser-builtin.highlighted-identifier {
	color: white;
	background: purple;
}
es.undefined-variable {
	color: red;
	text-shadow: 0 1px 1px hsla(0,0%,50%,0.5);
	margin: 0 1px;
}
es.undefined-variable.highlighted-identifier {
	color: white;
	background: red;
}
es.reference code,
es.declared code {
	font-family: verdana;
}
es.reference:hover,
es.declared:hover {
	cursor:pointer;
	text-shadow: 0 0 2px hsla(0,0%,100%,1);
}

pre,
ast {
	/*border: solid 1px hsl(0,0%,80%);*/
	padding: 2px;
	border-radius: 4px;
	/*background:hsl(30,20%,90%);*/
	color: hsl(30,10%,50%);
	display: inline-block;
	vertical-align:top;
	white-space:pre-wrap;
	line-height: 2.0;
	word-spacing: 2px;
	margin: 2px;
}
ast {
}
es {
}
es.ExpressionStatement {
}
es.LogicalExpression {
	display: inline-block;
	vertical-align: top;
	max-width: 200px;
	white-space: normal;
}
.BlockStatement.body,
.BlockStatement.alternate,
.BlockStatement.consequent {
	display: inline-block;
	vertical-align: top;
	background: hsla(0,0%,0%,0.05);
}
es.BlockStatement.alternate,
	display:block !important;
	margin:0;
}
es.BlockStatement {
	display: inline-block;
	vertical-align: top;
	background: hsla(0,0%,0%,0.05);
	margin: 0px;
	padding: 0 8px;
}
es.AssignmentExpression,
es.FunctionExpression,
es.FunctionDeclaration,
es.ForStatement,
es.WhileStatement,
es.IfStatement {
	white-space: nowrap;
}
es.AssignmentExpression > *,
es.ForStatement > *,
es.IfStatement > * {
	display: inline-block;
	vertical-align: top;
}
es.MemberExpression {
	/*
	border: solid 1px hsl(0,0%,80%);
	padding: 4px;
	box-shadow: 0 1px 3px hsla(0,0%,0%,0.3);
	background: hsla(0,0%,100%,0.4);
	display: inline-block;
	border-radius: 4px;
	*/
}
es.FunctionExpression {
	box-shadow: 0 1px 1px hsla(0,0%,0%,0.3);
	display: inline-block;
	color: hsl(200,10%,40%);
	border: solid 1px hsl(0,0%,60%);
	vertical-align: top;
	border-radius: 4px;
	margin: 4px;
}

es.FunctionDeclaration {
	box-shadow: 0 2px 3px hsla(0,0%,0%,0.3);
	background: hsl(50,20%,80%);
	color: hsl(50,10%,40%);
	display: block;
	border: solid 1px hsl(50,50%,50%);
	border-radius: 4px;
	margin: 4px;
}

.VariableDeclarator > code, .AssignmentExpression > code {
	margin: 0 4px;
	display: inline-block;
	vertical-align: top;
	color: white;
}

es.Identifier {
}

ast comment {
	vertical-align:top;
	color: hsl(0, 0%, 40%);
	font-family:georgia;
	line-height: 1.7;
	font-size: 16px;
	opacity: 0.6;
}
ast comment.Line {
	display:inline-block;
	vertical-align:top;
	margin: 4px ;
	white-space:normal;
}
ast comment.Line + comment.Line {
	display:block;
}
ast comment.Block {
	box-shadow: 0 2px 3px 1px hsla(0,0%,0%,0.2), 0 0 1px 1px hsla(0,0%,0%,0.2);
	display: inline-block;
	vertical-align:top;
	border-radius: 20px;
	padding: 4px 8px;
	margin: 2px;
	white-space: pre;
	line-height: 1;
	word-spacing: 0;
	letter-spacing: 0;
	font-family: 'courier new';
}

es.FunctionDeclaration > code,
es.FunctionExpression > code,
es.IfStatement > code,
es.ForStatement > code
{
	margin: 0 4px;
}
code:empty {
	display:none;
}
es.BlockStatement > code {
}
es.ObjectExpression {
	display: inline-block;
	border: solid 1px hsl(0,0%,60%);
	background: hsl(0,0%,80%);
}
es.body_ {
	display: block;
}
ast code {
}

es.ObjectExpression {
	display: inline-block;
	vertical-align: top;
	border-collapse: collapse;
	padding: 4px;
	margin: 4px;
	border: solid 2px hsl(0,0%,50%);
	border-radius: 12px;
	min-height: 20px;
	min-width: 20px;
}
es.ObjectExpression > es.Property > es.ObjectExpression {
	display: inline-block;
	padding: 4px;
	margin: 6px 0 0 10px;
	border: solid 2px hsl(0,0%,50%);
}
es.ObjectExpression > code,
es.ObjectExpression > es.Property > code
{
}
es.ObjectExpression > es.Property {
	display:block;
	background: hsl(0,0%,80%);
	color: hsl(0,0%,40%);
	margin-bottom: 12px;
}
es.ObjectExpression > es.Property:first-of-type > es {
	border-top: 0;
}
es.ObjectExpression > es.Property:last-of-type > es {
	border-bottom: 0;
}
es.ObjectExpression > es.Property > es.key {
	color: hsl(0,0%,50%);
	font-weight: bold;
	text-align: right;
}
es.ObjectExpression > es.Property > es {
	padding: 4px 8px;
	vertical-align: top;
}

es.highlighted-3 {
	border: solid 3px hsl(200,50%,50%);
	box-shadow: 0 0 3px white, inset 0 0 3px white, 0 0 2px 2px orange, 0 2px 1px 1px hsla(0,0%,0%,0.4);
	background:blue;
	color: hsl(0,0%,50%);
	padding: 4px;
	display: inline-block;
	border-radius:2px 12px;
}
es.highlighted-2 {
	border: solid 3px hsl(200,50%,50%);
	box-shadow: 0 0 3px white, inset 0 0 3px white, 0 0 2px 2px orange, 0 2px 1px 1px hsla(0,0%,0%,0.4);
	background:yellow;
	color: hsl(0,0%,50%);
	padding: 4px;
	display: inline-block;
	border-radius:2px 12px;
}

es.highlighted {
	border: solid 3px hsl(200,50%,50%);
	box-shadow: 0 0 3px white, inset 0 0 3px white, 0 0 2px 2px orange, 0 2px 1px 1px hsla(0,0%,0%,0.4);
	background:hsl(0,0%,85%);
	color: hsl(0,0%,50%);
	padding: 4px;
	display: inline-block;
	border-radius:2px 12px;
}
es.marked-for-removal {
	border: solid 3px hsl(30,80%,50%);
	box-shadow: 0 0 3px white, inset 0 0 3px white, 0 0 2px 2px orange, 0 2px 1px 1px hsla(0,0%,0%,0.4);
	background:hsl(0,0%,85%);
	color: hsl(0,0%,50%);
	padding: 4px;
	display: inline-block;
	border-radius:2px 12px;
}

es.BlockStatement.consequent + code {
	display: block;
}
es.IfStatement {
	border: solid 1px hsl(180,5%,60%);
	background: hsla(180,5%,80%,0.4);
	border-radius: 8px;
	margin: 12px 0;
}
